*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
li{
    list-style: none;
}
#fixed{
    background-image:url(70.jpg);
    background-size:cover;
    position:fixed;
    width:100%;
    height:600px;
    bottom:0;
    z-index:-1;
    opacity: 0.8;
    filter:alpha(opacity=80);

}
#back {
    margin-bottom:10px;
    width:100%;
    background: url(7.jpg);
    background-size:cover;
}
#word{
    width:600px;
    color:darkblue;
    font-size:60px;
    font-weight: 300;
    text-align: center;
    line-height: 600px;
}
#back li{
    width:150px;
    height:60px;
    color:purple;
    text-align: center;
    float:right;
    margin-right:10px;
    font-size:26px;
    font-weight: 100;
}
#about{
    width:100%;
    height:800px;
}
#terrible{
    width:100%;
    display:flex;
}
#nav1{
    height:400px;
    margin-top:50px;
    flex-grow:1;
    width:0;
}
#about img{
    width:65%;
}
#terrible div{
    flex-grow:1;
    text-align:center;
    width:0;
}
#nav1 li{
    width:400px;
    height:50px;
    font-size:25px;
    margin-top:30px;
}
#introduce{
    height: 500px;
    width:100%;

}
#introduce .honor{
    width:400px;
    height:280px;
    box-shadow:15px 15px 10px rgba(0,0,0,0.3);
    border-radius: 50%;
    background: rgba(150,60,100,0.5);
    float:left;
    margin:0 20px;
}
#fix{
    right:0;
    position:fixed;
    background: plum;
    line-height: 60px;;
    height:60px;
    width:100%;
}
.aa {
    border-radius: 50%;
    opacity: 0.3;
    filter:alpha(opacity=30);
    width:80px;
    height:80px;
    position:absolute;
    z-index:3;
    transition:all 1s linear;
}
#aa{
    background: aquamarine;
    top:200px;
    left:30px;
}
#bb{
    background: palegoldenrod;
    top:500px;
    left:100px;

}
#cc{
    background:aqua;
    top:600px;
    left:800px;
}
#dd{
    background:red;
    top:400px;
    left:800px;
}
#ee{
    background: plum;
    top:300px;
    left:900px;
}
#ff{
    background:yellow;
    top:500px;
    left:1000px;
}
#gg{
    background:blue;
    top:360px;
    left:900px;
}

.honor p{
    width:400px;
    color:darkviolet;
    vertical-align: middle;
    line-height: 30px;
    text-align:center;
}
.first{
    display:block;
    width:200px;
    height:40px;
    margin-left:100px;
    color:yellow;
    text-align:center;
    font-size:40px;
    margin-top:30px;
    margin-bottom:30px;
}
#production{
    height:630px;
    width:100%;
}
#production .pro{
    height:200px;
    width:280px;
    text-align: center;
    line-height: 100px;
    background:rgba(170,40,150,0.5);
    float:left;
    margin-left:35px;
    margin-bottom:20px;
    border-radius: 50%;
    box-shadow:10px 10px 10px rgba(0,0,0,0.3);
}
#production .pro a{
    color:purple;
    display: block;
    height:200px;
    width:280px;
    border-radius: 50%;
}
#production .pro a:hover{
    background:aquamarine;
    font-size:50px;
    text-align:center;
    line-height: 200px;
}
.first{
    text-align:center;
}

.head{
    margin-bottom:40px;
    width:100%;
    height:150px;
    background:pink;

}
.head p{
    color:black;
    font-weight: 600;
    font-size:40px;
    text-align:center;
    line-height: 150px;
}
#table input{
    display:block;
    margin:20px auto;
    background:palevioletred;
    width:600px;
    height:40px;
    border:none;
}
#table input:focus{
    background:pink;
}
#table button{
    display:block;
    width:200px;
    height:50px;
    background: pink;
    border:none;
    margin:40px auto;
    cursor:pointer;
}

#nav1{
    text-align:center;
}

footer{
    width:100%;
    height:80px;
    background:pink;
    color:purple;
    font-size:26px;
    text-align: center;
    line-height: 80px;
}
#table button:hover{
    background:purple;
}
@media (max-width:1244px){
    #introduce{
        height:800px;
    }
    #production{
        height:900px;
    }
}
#top img{
    width:80px;
    height:80px;
    position:fixed;
    bottom:0;
    right:0;
}
@media (max-width: 960px) {
    #introduce{
        width:100%;
        height:1200px;
    }
    #introduce .honor{
        width:  80%;
        height:300px;
        margin:20px 30px;
    }
    #nav{
        height:500px;
    }
    #about{
        height:600px;
    }
    #nav1 li{
        font-size:16px;
        margin-top:10px;
    }
    .honor p{
        width:100%;
        color:darkviolet;
        vertical-align: middle;
        line-height: 30px;
        text-align:center;
    }
    .first{
        width:80%;
        text-align:center;
    }
    #production{
        height:580px;
    }

    #production .pro {
        width:150px;
        height:150px;
        font-size:16px;
        text-align:center;
        line-height: 150px;

    }
    #production .pro a{
        height:150px;
        width:150px;
        border-radius: 50%;
    }
    #production .pro a:hover {
        width: 150px;
        height: 150px;
        font-size: 16px;
        background: aquamarine;
        text-align: center;
        line-height: 150px;
    }
    #back li{
        font-size:16px;
        width:80px;
        margin-right:10px;

    }
    #production .head p{
        width:90%;
        text-align:center;
    }

}

@media (max-width: 790px){
    #production{
        height:700px;
    }
    #about{
        height:500px;
    }
    #nav1{
        margin-top:10px;
    }
    #nav1 li{
        margin-top:5px;
    }
    #terrible div{
        width:100%;
    }
    #nav1{
        width:100%;
    }
    .honor p{
        font-size:12px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;

    }
}
@media (max-width: 620px){
    #production{
        height:900px;
    }
    .first{
        width:40%;
        font-size:35px;
        text-align:center;

    }
}
@media (max-width: 380px){
    #fix li{
        display:none;
    }
    .first{
        display:none;
    }
    #production{
        height:1800px;
    }
    .head{
        display:none;
    }
    footer{
        display:none;
    }
    .honor p{
        line-height: 400px;
    }
}
