*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
li{
    list-style: none;
}
#back {
    margin-bottom:10px;
    width:100%;
    background: url(7.jpg);
    background-size:cover;
}
#word{
    width:600px;
    color:darkblue;
    font-size:60px;
    font-weight: 300;
    text-align: center;
    line-height: 600px;
}
#back li{
    width:150px;
    height:60px;
    color:purple;
    text-align: center;
    float:right;
    margin-right:10px;
    font-size:26px;
    font-weight: 100;
}
#introduce{
    height: 500px;
    width:100%;

}
#introduce .honor{
    width:400px;
    height:280px;
    background: rgba(150,60,100,0.5);
    float:left;
   margin:0 20px;
}
#fix{
    right:0;
    position:fixed;
    background: pink;
    line-height: 60px;;
    height:60px;
    width:100%;
}
.honor p{
    width:400px;
    color:darkviolet;
    vertical-align: middle;
    line-height: 30px;
    text-align:center;
}
.first{
    display:block;
    width:200px;
    height:40px;
    margin-left:100px;
    color:yellow;
    text-align:center;
    font-size:40px;
    margin-top:30px;
    margin-bottom:30px;
}
#production{
    height:630px;
    width:100%;
}
#production .pro{
    height:200px;
    width:280px;
    text-align: center;
    line-height: 100px;
    background:rgba(170,40,150,0.5);
    float:left;
    margin-left:35px;
    margin-bottom:20px;
    border-radius: 50%;
}
#production .pro a{
    color:purple;
    display: block;
    height:200px;
    width:280px;
    border-radius: 50%;
}
#production .pro a:hover{
    background:aquamarine;
    font-size:50px;
    text-align:center;
    line-height: 200px;
}
.first{
    text-align:center;
}

.head{
    margin-bottom:40px;
    width:100%;
    height:150px;
    background:pink;

}
.head p{
    color:black;
    font-weight: 600;
    font-size:40px;
    text-align:center;
    line-height: 150px;
}
#table input{
    display:block;
    margin:20px auto;
    background:palevioletred;
    width:600px;
    height:40px;
}
#table input:focus{
    background:pink;
}
#table button{
    display:block;
    width:200px;
    height:50px;
    background: pink;
    border:none;
    margin:40px auto;

}
footer{
    width:100%;
    height:80px;
    background:pink;
    color:purple;
    font-size:26px;
    text-align: center;
    line-height: 80px;
}
@media (max-width:1244px){
    #introduce{
        height:800px;
    }
    #production{
        height:900px;
    }
}
@media (max-width: 960px) {
    #introduce{
        width:100%;
        height:1200px;
    }
    #introduce .honor{
        width:  80%;
        height:300px;
        margin:20px 30px;
    }
    .honor p{
        width:100%;
        color:darkviolet;
        vertical-align: middle;
        line-height: 30px;
        text-align:center;
    }
    .first{
        width:80%;
        text-align:center;
    }
    #production{
        height:580px;
    }

    #production .pro {
        width:150px;
        height:150px;
        font-size:16px;
        text-align:center;
        line-height: 150px;

    }
    #production .pro a{
        height:150px;
        width:150px;
        border-radius: 50%;
    }
    #production .pro a:hover{
        width:150px;
        height:150px;
        font-size:16px;
        background:aquamarine;
        text-align:center;
        line-height: 150px;

    }
    #production .head p{
        width:90%;
        text-align:center;
    }

}
@media (max-width: 762px){
    #production{
        height:700px;
    }
}

